* {
    padding: 0; margin: 0;
}

body{
    background: grey;
}

#game {
    display: block;
    width: 900px;
    height: 600px;
    margin: 2em auto;
}

#canvas {
    display: block;
    float: left;
    position: relative;
    left: 0; top: 0;
    width: 800px;
    height: 600px;
}

#book-buttons {
    display: block;
    float: left;
    position: relative;
    left: 0; top: 0;
    width: 100px;
}

#book-buttons button{
    display: block;
    position: relative;
    top: 0; left:0;
    margin: 1em auto;
    font-size: 0.9em;
}

#book {
    display: block;
    position: absolute;
}

#book .chapter {
    display: block;
    position: relative;
    top: 0; left: 0;
    width: 800px;
    height: 600px;
    background: url('assets/book.png');
    background-size: 800px 600px; 
}

.chapter h1 {
    position: relative;
    left: 0; top: 0;
    padding: 0.7em 0 0 0;
    margin: 0em 0 0.5em 2.5em;
}

.chapter ul {
    display: block;
    position: relative;
    width: 730px;
    height: 500px;
    margin: 0 50px 0 50px;
    overflow: auto;
    list-style: none;
}

.chapter li {
    display: block;
    position: relative;
    width: 700px;
    margin: 5px 0px 5px 0px;
    padding: 5px 0 5px 0;
    background: rgba(255, 255, 255, 0.5);
}

.chapter li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.chapter li h2{
    display: block;
    position: relative;
    margin: 0.5em 0 0 3em;
}

.chapter li img{
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
}

.chapter li div{
    display: block;
    position: relative;
    width: 550px;
    padding: 25px;
    float: left;
}